html {
    position: relative;
    min-height: 100%;
	
}
h1 {
	padding-bottom: 50px;
	padding-top: 50px;
	font-family: 'Amatic SC', cursive;
	font-size: 70px;
	
}
.container{
	padding-bottom: 100px;
	font-family: 'Amatic SC', cursive;
	
}
/*
.img-circle {
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 15%;
	opacity: .7;
}
*/
.btn {     
    opacity: .7;
	font-size: 35px;
	margin: 10px;
}

body {
	background-image: url('https://media.githubusercontent.com/media/JackTimelessPiece/Website/master/images/bak.jpg');
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0 0 100px; /* bottom = footer height */
}
.row {
	margin: 70px; /* spacing between button */
}

.footer{
	position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
}